 body {
    background-color: rgb(80, 80, 80);
}

a {
    color: rgb(70, 165, 175);
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 2px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: white;
    text-align: left;
    vertical-align: top;
    color: whitesmoke;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 2px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color:white;
    text-align: left;
    vertical-align: top;
    color: whitesmoke;
}

.service {
    font-weight: bold;
    text-align: center;
}

.status {
    font-size: 6px;
}

progress {
    width:100px;
}

pre {
    font-size: .8rem;
    margin: 0.5em;
    display: inline;
}
